<html>
<head>
    <title>{%  block title %}New AGE{% endblock %}</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css Bootstrap -->
    <!-- Latest compiled and minified css -->
    <link rel="stylesheet" href="{{ asset("css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ asset("css/bootstrap-toggle.min.css") }}">
    <link rel="stylesheet" href="{{ asset("css/dashboard.css") }}" >
    <link rel="stylesheet" href="{{ asset("css/style.css") }}">
    {% block stylesheet %}
    {% endblock stylesheet %}

    <!-- jQuery & Bootstrap scripts -->
    <script defer src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
    <!-- Toggle button -->
    <script defer src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script defer src="{{ asset('js/others/bloodhound.min.js') }}"></script>
    <script defer src="{{ asset('js/others/bootstrap3-typeahead.js') }}"></script>
    {#<script defer src="{{ asset('js/typeahead.js') }}"></script>#}
    <script  defer src="{{ asset('js/angular.min.js') }}"></script>
    <script  defer src="{{ asset('js/bundle.js') }}"></script>
    {% block script %}
    {% endblock script %}

</head>
<body data-ng-app="clientSide">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- Main title -->
        <div class="navbar-header">
            <!-- Comportement JS pour les mobiles -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">New AGE</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    {% block menu_role %}
                        {% include '@User/Role/dropdown.html.twig' %}
                    {% endblock menu_role %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-bell"></span>
                        <span class="badge" style="position: relative;left: -11px;background: #eeeeee1a;top: 4px;">{% block nb_alerts %}0{% endblock nb_alerts %}</span>
                        <span style="position:relative;left:-10px;">Alertes</span>
                    </a>

                    <ul class="dropdown-menu role-selection">
                        <li class="dropdown-header">Alertes non lues</li>
                        {% block unread_alerts %}
                            {#<li class="">
                                <a href="#">
                                    <b>Noël Plouzeau</b> a ajouté un type d'enseignement à l'UE ACO
                                </a>
                            </li>
                            <li class="">
                                <a href="#">
                                    <b>Noël Plouzeau</b> a ajouté un type d'enseignement à l'UE ACO
                                </a>
                            </li>
                            <li class="">
                                <a href="#">
                                    <b>Noël Plouzeau</b> a ajouté un type d'enseignement à l'UE ACO
                                </a>
                            </li>
                            <li class="">
                                <a href="#">
                                    <b>Noël Plouzeau</b> a ajouté un type d'enseignement à l'UE ACO
                                </a>
                            </li>#}
                        {% endblock unread_alerts %}
                        <li class="dropdown-header">Alertes déjà lues</li>
                        {% block read_alerts %}
                            {#<li class="">
                                <a href="#">
                                    <b>Noël Plouzeau</b> a ajouté un type d'enseignement à l'UE ACO
                                </a>
                            </li>#}
                        {% endblock read_alerts %}
                        <li role="separator" class="divider"></li>
                        <li class="">
                            <a href="#">
                                <span class="glyphicon glyphicon-share-alt"></span>
                                Voir toutes mes alertes
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{{ logout_path() }}">
                        <span class="glyphicon glyphicon-off"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                {% block sidebar %}
                {% endblock sidebar %}
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" {% block angular_controller %}{% endblock angular_controller %}>
            {# TODO:typeahead little sample on how to declare typeahead inputs, 3 attributes: typeahead, url, and display #}
            {#<input type="text" data-typeahead="'utilisateurs'" data-display="'username'" data-url="'{{ path('get_utilisateurs') }}'"/>#}
            {% include 'flashbags_layout.html.twig' %}

            {% block body %}
            {% endblock body %}
            {% block modalContainer %}
            {% endblock modalContainer %}
        </div>
    </div>
</body>
</html>
