{% extends "::base.html.twig" %}

{% block angular_controller %}data-ng-controller="saisieVoeuxController"{% endblock %}
{%  block title %}Saisie des Voeux - New AGE{% endblock %}

{% block body %}

    <div class="row">
        {{ form_start(form) }}
        <div class="col-sm-8">
            {{ form_row(form.nom) }}
        </div>
        <div class="col-sm-2 col-sm-offset-2">
            {{ form_row(form.rechercher) }}
        </div>
        {{ form_end(form) }}
    </div>

    {{ dump(etape) }}
{% endblock %}
