{% macro display_mission(mission) %}
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>
					{% if mission.statut == 'LIBRE' %}
						<span class="glyphicon glyphicon-ok" style="color:#449d44" title="La mission est disponible, vous pouvez postuler"></span>
					{% elseif mission.statut == 'FERMEE' %}
						<span class="glyphicon glyphicon-remove" style="color:#d9534f" title="La mission est fermée, vous ne pouvez pas postuler"></span>
					{% elseif mission.statut == 'ARCHIVEE' %}
						<span class="glyphicon glyphicon-remove" title="La mission est archivée, vous ne pouvez pas postuler cette année" style="color:#449d44"></span>
					{% endif %}
					{{ mission.name }} (60h)
					{% set nb_candidats = mission.candidats | length %}
					{% if nb_candidats > 1 %}
						<span class="badge">{{ nb_candidats }} candidats</span>
					{% elseif nb_candidats > 0 %}
						<span class="badge">{{ nb_candidats }} candidat</span>
					{% endif %}
				</h4>
				{% if mission.statut == 'FERMEE' %}
				Mission affectée à : <user-link user="'{{mission.intervenant.id}}'"></user-link>
				{% endif %}
			</div>
			<div class="panel-body">
				{% for voeu in mission.voeux %}
				<ul class="list-group">
				  <li class="list-group-item">
				  		<h3>
				  			{{ voeu.cours.type }} - {{ voeu.cours.ue.name }}
							<span class="label label-primary" style="font-size:14px;">{{ voeu.nbHeures }} h</span>
				  		</h3>
						Enseignement au sein de :
						{% for etape in voeu.cours.ue.etapes %}
							<span class="label label-default">
								&bull;
								{{ etape.name }} 
							</span>
							&nbsp;
						{% endfor %}
				  </li>
				</ul>
				{% endfor %}
			</div>
			<div class="panel-footer">
				<button type="button" class="btn btn-default" style="width:48%" data-toggle="popover" title="A contacter" data-content="email">Contact</button>
				<button type="button" class="btn btn-success {% if mission.statut != 'LIBRE' %} disabled {% endif %}" style="width:48%"  >
					<span class="glyphicon glyphicon-ok"></span>
					Postuler
				</button>
			</div>
		</div>
	</div>
{% endmacro %}