{% extends "IntervenantBundle::intervenant_layout_base.html.twig" %}

{% block body %}
    <h2 class="page-header">Choix des missions</h2>
    <div class="row">
		{{ form(searchForm) }}
    </div>
    <div class="row">
    	<div class="col-md-12">
    		{% set statut = app.request.attributes.get('_route_params')['statut'] %}
    		<a {% if statut == 'all' %} class="active" {% endif %}
    		href="{{path('missions')}}/all/">Toutes</a> | 
    		<a {% if statut == 'disponible' %} class="active" {% endif %}
    		href="{{path('missions')}}/disponible/">Missions disponibles</a> | 
    		<a {% if statut == 'non-disponible' %} class="active" {% endif %}
    		href="{{path('missions')}}/non-disponible/">Missions non disponibles</a> |
    		<a {% if statut == 'archive' %} class="active" {% endif %}
    		href="{{path('missions')}}/archive/">Missions archivées</a>
    	</div>
    </div>
    <br>
    <div class="row">
    	{{ dump(missions) }}
    	{% for mission in  missions %}
    		{{ display_mission(mission) }}
    	{% endfor %}
    </div>
    <div class="row">
		<div class="col-md-6">
		 	<ul class="pagination">
				<li class="active"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
			</ul>
		</div>
	</div>

{% endblock %}