{% extends "VisiteurBundle:Default:visiteur_layout_base.html.twig" %}

{% block title %}Etat de l'année - New AGE{% endblock %}

{% block sidebar %}

    <style>
        .bloc-info-hidden {
            display: none;
        }

        .bloc-info-visible {
            display: inline;
        }

        .btn-clicked{
            font-weight: bold;
        }


    </style>

    <li>
        <a href="profil">
            <span class="glyphicon glyphicon-wrench"></span>
            Mon profil
        </a>
    </li>
    <li>
        <a href="#"> {# TODO : Quand les vues seront faites ajouter les liens dans la sidebar #}
            <span class="glyphicon glyphicon-user"></span>
            Utilisateurs
            <span class="sr-only">(current)</span>
        </a>
    </li>
    <li>
        <a href="#"> {# TODO : Quand les vues seront faites ajouter les liens dans la sidebar #}
            <span class="glyphicon glyphicon-education"></span>
            Enseignements
        </a>
    </li>
    <li class="active">
        <a href="etat_annee"> {# TODO : Quand les vues seront faites ajouter les liens dans la sidebar #}
            <span class="glyphicon glyphicon-time"></span>
            Etat de l'année
        </a>
    </li>
{% endblock %}

{% block body %}
    <h2 class="page-header">Etat de l'année</h2>
    <br>

    <div class="row">


    {% if annees|length == 0 %}
        <div class="col-md-12">
            <h4>Il n'y a pas d'année universitaire d'enregistrée dans la base de données.</h4>
        </div>
    {% else %}

            <div class="col-md-4">
                <h4 class="pull-right">Année universitaire :</h4>
            </div>
            <div class="col-md-6">
                <div class="btn-group btn-block">
                    <button type="button" class="btn btn-primary btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        <span id="year">Sélectionner l'année</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        {% for annee in annees %}
                            <li><a {% if (annees|first == annee) %} id="annee-first" {% endif %} onclick="setYear(this)" href="#">{{ annee.anneeScolaire }}</a></li>
                        {% endfor %}
                    </ul>
                    <script>
                        function setYear(e) {
                            document.getElementById("year").innerHTML = e.innerHTML;
                            {% for an in annees %}
                                document.getElementById("bloc-info{{ an.anneeScolaire }}").className = "bloc-info-hidden";
                            {% endfor %}
                            document.getElementById("bloc-info" + e.innerHTML).className = "bloc-info-visible ";
                            document.getElementById("panel-chrono").classList.remove("bloc-info-hidden");
                        }
                    </script>
                </div>
            </div>
            <div class="col-md-2">

            </div>
        </div>

    {% endif %}

    {% if annees|length >= 1 %}

        <div class="row">
        <div class="col-md-12">
        <div id="panel-chrono" class="panel panel-default bloc-info-hidden">

        <div  class="panel-heading">

       <h4>Chronologie :</h4>

        {% for annee in annees %}
            <div id="bloc-info{{ annee.anneeScolaire }}" class="bloc-info-hidden">
            <div class="text-center">

                <div class="btn-group" role="group" aria-label="chrono">
                    {% for etat in annee.etatList %}
                        <button
                                {% if (etat.situation == 1) and (annee.etatList|first == etat)  %}
                                    id="etat-active{{ annee.id }}"
                                {% elseif (etat.situation == 1)  %}
                                    id="etat-active{{ annee.id }}"
                                {% elseif (annee.etatList|first == etat) %}
                                    id="etat-first{{ annee.id }}"
                                {% endif %}
                                type="button" class="btn etat-not-select{{ annee.id }}
                            {% if etat.situation == 0 %} btn-success{% elseif etat.situation == 1 %} btn-info{% else %} btn-danger{% endif %}"
                                data-description="{{ etat.description }}"
                                data-open="{{ etat.moisDebut }}"
                                data-close="{{ etat.moisFin }}"
                                data-state="{% if etat.situation == 0 %}{{ etat.intitule }} (Fini){% elseif etat.situation == 1 %}{{ etat.intitule }} (En cours){% else %}{{ etat.intitule }} (À venir){% endif %} "
                                onclick="changeDetails{{ annee.id }}(this)">{{ etat.intitule }}
                            {% if (etat.situation == 1) %}
                                - En cours
                            {% endif %}
                        </button>
                    {% endfor %}

                </div>

                    <script>
                        function changeDetails{{ annee.id }}(e) {

                            var x = document.getElementsByClassName("etat-not-select{{ annee.id }}");
                            var i;
                            for (i = 0; i < x.length; i++) {
                                x[i].classList.remove("btn-clicked");
                                x[i].classList.remove("active");
                            }
                            e.className = e.className+" btn-clicked active"

                            document.getElementById("open{{ annee.id }}").innerHTML = e.dataset.open;
                            document.getElementById("close{{ annee.id }}").innerHTML = e.dataset.close;
                            document.getElementById("state{{ annee.id }}").innerHTML = e.dataset.state;
                            document.getElementById("description{{ annee.id }}").innerHTML = e.dataset.description;
                        }
                    </script>
            </div>
                <br />
                <p>
                <div>
                    <strong>Délai :</strong> <span id="open{{ annee.id }}"></span> à <span id="close{{ annee.id }}"></span></br>
                    <strong>Etat :</strong> <span id="state{{ annee.id }}"></span>
                </div>
                <div>
                    <h3>Informations</h3>
                    <span id="description{{ annee.id }}"></span>
                </div>
                </p>
            </div>
        {% endfor %}
    {% endif %}
    <script>
        document.getElementById("annee-first").click();

        {% for annee in annees %}
            var elementExists = document.getElementById("etat-active{{ annee.id }}");
            if(elementExists!=null){
                document.getElementById("etat-active{{ annee.id }}").click();
            } else {
                document.getElementById("etat-first{{ annee.id }}").click();
            }
        {% endfor %}


    </script>

    </div>
    </div>
    </div>
    </div>

{% endblock %}