{% extends "VisiteurBundle:Default:visiteur_layout_base.html.twig" %}

{%  block title %}Etat de l'année - New AGE{% endblock %}

{%  block sidebar %}

    <li>
        <a href="profil">
            <span class="glyphicon glyphicon-wrench"></span>
            Mon profil
        </a>
    </li>
    <li>
        <a href="#"> {# TODO : Quand les vues seront faites ajouter les liens dans la sidebar #}
            <span class="glyphicon glyphicon-user"></span>
            Utilisateurs
            <span class="sr-only">(current)</span>
        </a>
    </li>
    <li>
        <a href="#"> {# TODO : Quand les vues seront faites ajouter les liens dans la sidebar #}
            <span class="glyphicon glyphicon-education"></span>
            Enseignements
        </a>
    </li>
    <li class="active">
        <a href="etat_annee"> {# TODO : Quand les vues seront faites ajouter les liens dans la sidebar #}
            <span class="glyphicon glyphicon-time"></span>
            Etat de l'année
        </a>
    </li>
    {%  endblock %}

{%  block body %}
    <h2 class="page-header">Etat de l'année</h2>
        <br>


    {% if annees|length == 0 %}
        <h4>Il n'y a pas d'année universitaire d'enregistrée dans la base de données.</h4>
    {% elseif annees|length == 1 %}

        <h4 style="display: inline;">Année universitaire :</h4>
            <h4 style="display: inline;">{{ (annees|first).anneeScolaire }}</h4>

    {% else %}

        <h4 style="display: inline;">Année universitaire :</h4>

        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span id="year">{{ (annees|first).anneeScolaire }}</span>
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                {% for annee in annees %}
                    <li><a onclick="setYear(this)" href="#">{{ annee.anneeScolaire }}</a></li>
                {% endfor %}
            </ul>

            <script>
                function setYear(e){
                    document.getElementById("year").innerHTML = e.innerHTML;
                }
            </script>
        </div>

    {% endif %}

    {% if annees|length >= 1 %}

        <hr>

        <style>
            .ongoing {
                background-color: #5eb5e0;
            }
            .done {
                background-color: #d4d82d;
            }
            .todo {
                background-color: #dd6666;
            }
        </style>

        <div class="btn-group">

            {% for etat in (annees|first).etatList %}
                <button type="button" class="btn-etape btn btn-default
{% block infoAnnee %}
{% if etat.situation == 0 %} done {% elseif etat.situation == 1 %} ongoing {% else %} todo {% endif %}
"
                        {% if etat.situation == 1 %} id="auto-click" {% endif %}
                        data-description="{{ etat.description }}"
                        data-open="{{ etat.moisDebut  }}"
                        data-close="{{ etat.moisFin  }}"
                        data-state="    {% if etat.situation == 0 %} Fini {% elseif etat.situation == 1 %} En cours {% else %} À venir {% endif %} "
                        onclick="changeDetails(this)">{{ etat.intitule  }}</button>


            {% endfor %}


        </div>
        <div>
            Délai : <span id="open"></span> à <span id="close"></span></br>
            Etat : <span id="state"></span>
        </div>

        <script>
            function changeDetails(e){
                var btns = document.getElementsByClassName("btn-etape");
                for(var btn in btns){
                    btn.className = "btn-etape btn btn-default";
                }
                document.getElementById("open").innerHTML = e.dataset.open;
                document.getElementById("close").innerHTML = e.dataset.close;
                document.getElementById("state").innerHTML = e.dataset.state;
                document.getElementById("description").innerHTML = e.dataset.description;
            }
        </script>

        <div>
            <h3>Informations</h3>
            <span id="description"></span>
        </div>
    {% endif %}
{% endblock %}

{% endblock %}