{% extends "VisiteurBundle:Default:visiteur_layout_base.html.twig" %}

{%  block title %}Mon profil - New AGE{% endblock %}

{%  block script %}
    <script defer src="{{ asset("js/mon_profil.js") }} "></script>
{% endblock %}


{%  block body %}
<h2 class="page-header">Mon Profil</h2>
<div class="row">
	<div class="col-md-8">
		<button type="button" class="btn btn-primary">
			<span class="glyphicon glyphicon-save"></span> 
			Générer ma fiche de service
		</button>
	</div>
	<div class="col-md-4">
		<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modif-profil-mdp" style="float:right">
			<span class="glyphicon glyphicon-lock"></span> 
			Modifier mon mot de passe
		</button>
	</div>

	{# On ajoute le formulaire de modification de mot de passe #}
	{% include 'VisiteurBundle:Profil:modif_password.html.twig' %}

</div>
<br>
<div class="row">
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				 <img src="{{ asset("img/default_image.png") }}" alt="profil_photo" style="padding : 0 0 15 0;width: 100%;height: auto;"> 
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-13">
							<button type="button" class="btn btn-info" id="button-photo" style="width:100%; heigth:auto;" onclick="">
								<span class="glyphicon glyphicon-pencil"></span>
								Modifier la photo
							</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="container-fluid">
				  	<div class="row">
						<div class="col-sm-9">
							<h3 class="panel-title" style="margin-top: 10px;">Informations générales</h3>
						</div>

						<div class="col-sm-3">
							<button type="button" class="btn btn-info" style="float: right" data-toggle="modal" data-target="#modif-profil-general">
								<span class="glyphicon glyphicon-pencil"></span> 
								Modifier
							</button>
						</div>
					</div>
				</div>
			</div>

			{# On ajoute le formulaire de modification des infos générales du profil #}
			{% include 'VisiteurBundle:Profil:modif_infos_profil_general.html.twig' %}

			<div class="panel-body">
				<div class="row margin_bottom">
					<div class="col-md-12">Nom : {{ app.user.nom }}</div>	
				</div>
				<div class="row margin_bottom">
					<div class="col-md-12">Prénom : {{ app.user.prenom }}</div>	
				</div>
				<div class="row margin_bottom">
					<div class="col-md-12">Composante : {{ app.user.getComposante.getNom }}</div>	
				</div>

				{% for mail in app.user.getEmailList() %}
				<div class="row margin_bottom">
					<div class="col-md-12">
						<span class="glyphicon glyphicon-envelope"></span> E-mail  {{ loop.index }} : 
						<a href="mailto:{{ mail.email }}">
							{{ mail.email }}
						</a>
					</div>
				</div>
				{% endfor %}

				{% for tel in app.user.getNumList() %}
				<div class="row margin_bottom">
					<div class="col-md-12">
					<span class="glyphicon glyphicon-earphone"></span> Téléphone {{ loop.index }} : 
						<span>{{ tel | phone_number_format }}</span>
					</div>	
				</div>
				{% endfor %}
					
				{% if app.user.siteWeb is not empty %}
				<div class="row margin_bottom">
					<div class="col-md-12">
						<span class="glyphicon glyphicon-globe"></span> 
						Site-web : 
						<a href="http://{{ app.user.siteWeb }}" target="_blank">
							{{ app.user.siteWeb }}
						</a>
					</div>
				</div>
				{% endif %}

				{% if app.user.bureau is not empty %}
				<div class="row margin_bottom">
					<div class="col-md-12">
						<span class="glyphicon glyphicon-home"></span> 
						Bureau : {{ app.user.bureau }}
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="container-fluid">
				  	<div class="row">
						<div class="col-sm-10">
							<h3 class="panel-title" style="margin-top: 10px;">Description</h3>
						</div>

						<div class="col-sm-2">
							<button id="update-description" type="button" class="btn btn-info" id="button-edit-desc" style="float: right">
								<span class="glyphicon glyphicon-pencil"></span> 
								Modifier
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div id="label-description" class="row">
					<div class="col-md-12">
						{% if app.user.getDescription() is not empty %}
							{{ app.user.getDescription() }}
						{% else %}
							<i>Vous n'avez pas renseigné de description. Cliquez sur le bouton <b>Modifier</b> pour en ajouter une.</i>
						{% endif %}
					</div>
				</div>
				<div id="form-description" class="hide">
					<div class="row margin_bottom">
						<div class="col-md-12">
							<textarea id="form-value-description" class="">{{ app.user.getDescription() }}</textarea>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<button id="save-description" class="btn btn-primary">Enregistrer la description</button>
							<button id="cancel-description" class="btn btn-default">Annuler</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-sm-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="container-fluid">
				  	<div class="row">
						<div class="col-sm-12">
							<h3 class="panel-title" style="margin-top: 10px;">Responsabilités et droits</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<p style="  font-weight: bold;">
					Responsable des services : <a>Informatique</a>
				</p>
				<p style="border-top: 1px solid #eee; padding-top: 9px;   font-weight: bold;">
					Responsable d'étape : <a> M1-MIAGE </a>
				</p>

				<p style="border-top: 1px solid #eee; padding-top: 9px;   font-weight: bold;">
					Responsable d'UE : <a>BMO</a>, <a>ACF</a>
				</p>
				<p style="border-top: 1px solid #eee; padding-top: 9px;   font-weight: bold;">
					Enseignant
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}