{% extends "::base.html.twig" %}

{%  block title %}Consultation des profils{% endblock %}

{%  block script %}
    <script defer src="{{ asset("js/profils.js") }} "></script>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h2 class="page-header">Rechercher un utilisateur</h2>
                <div class="row">
                    {# little fix #}
                    {{ form(rechercherUtilisateurForm) }}
                </div>
                <br>
                {% if user!=null %}
                <div class="row">
                    <h3>Détails utilisateur :</h3>
                </div>

                <div class="row">

                    <div class="col-sm-2">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <!-- TODO : Récupérer une URL -->
                                <img src="{{ user.nom }}" alt="profil_photo" style="padding : 0 0 15 0;width: 100%;height: auto;">
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-8">
                        <h3>{{ user.nom }} {{ user.prenom }}</h3>
                        <p>
                            Composante : {{ user.composante.nom }}
                        </p>
                        <p>
                            {{ user.description }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <h3>Contact</h3>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <ul class="role-selection" style="padding:0;list-style-type:none;">
                            <!-- Liste d'email -->
                            {% set n=1 %}
                            {% for email in user.emailList %}
                                <li style="margin-bottom:5px;">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                    E-mail {{ n }} :
                                    <a href="mailto:{{ email.email }}">{{ email.email }}</a>
                                </li>
                                {% set n=n+1 %}
                            {% endfor %}

                            <!-- Liste de numero de telephone -->
                            {% set n=1 %}
                            {% for num in user.numList %}
                                <li style="margin-bottom:5px;">
                                    <span class="glyphicon glyphicon-earphone"></span>
                                    Téléphone {{ n }} :
                                    {{ num }}
                                </li>
                                {% set n=n+1 %}
                            {% endfor %}

                            <!-- Liste de site web -->
                            <li>
                                <span class="glyphicon glyphicon-globe"></span>
                                Site Web :
                                <a href="{{ user.siteWeb }}" target="_blank">{{ user.siteWeb }}</a>
                            </li>
                        </ul>

                    </div>

                </div>
                {% endif %}
            </div>
        </div>
{% endblock body %}