{% extends "VisiteurBundle:Default:visiteur_layout_base.html.twig" %}



{% block title %}Gestion d'UE - New AGE{% endblock %}



{% block stylesheet %}

    <link rel="stylesheet" href="{{ asset("css/input_file.css") }}">

{% endblock %}



{% block script %}

    <script defer src="{{ asset("js/gestionUE.js") }} "></script>

{% endblock script %}



{% block body %}

    <div class="row">

        {% for ue in ues %}

            <div class="col-md-12">

                <div class="panel panel-default">

                    <div class="panel-heading">

                        <h2 class="panel-title"><b>{{ ue.name }}</b></h2>

                    </div>

                    <div class="panel-body">

                        <p>

                            <button type="button" class="btn btn-info" id="button-edit-desc" onClick="editDesc()"><span class="glyphicon glyphicon-pencil"></span> Modifier les informations

                            </button>

                        </p>



                        <b>Description de l'enseignement :</b><br />

                        <p id="desc" style="word-wrap: break-word; ">{{ ue.description }}</p>



                        <textarea class="form-control" rows="6" cols="100" id="desc-edit" style="display: none;width: 100%;height: auto;" title=""></textarea>



                        <p>

                            <br /><b>Etapes concernées:</b>

                            <br />

                            {% for etape in ue.getEtapes %}

                                <a>{{ etape.name }} </a>

                            {% endfor %}

                            <br />

                        </p>



                        <p><b>Description des types d'enseignements:</b></p>



                        {% for typeEnseignement in ue.cours %}

                        <div id="aco-0-div" class="row" style="line-height:40px;font-size:20px;">

                            <div class="col-md-3">

                                {{ typeEnseignement.type }}

                            </div>

                            <div class="col-md-4">

                                <span class="grpCM-panel">{{ typeEnseignement.nbGroupe }}</span> groupe(s) x {{ typeEnseignement.nbHeure }}h

                            </div>

                        </div>



                    {% endfor %}
                    </div>

                </div>

            </div>
        {% endfor %}
    </div>

{% endblock body %}